.like span {
  font-size: 150px;
  color: #4cd6ff;
  animation: shake 2s;
}

.like {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
}

@keyframes shake {
  0% {
    opacity: 0.5;
    transform: translate(0px, 40px);
  }
  10% {
    opacity: 0.7;
    transform: translate(0px, -30px);
  }
  20% {
    opacity: 0.9;
    transform: translate(0px, 25px);
  }
  30% {
    opacity: 1;
    transform: translate(0px, -20px);
  }
  60% {
    opacity: 1;
    transform: translate(0px, 60px);
  }
  70% {
    opacity: 1;
    transform: translate(0px, -20px);
  }
  80% {
    opacity: 1;
    transform: translate(0px, 20px);
  }
  90% {
    opacity: 0.7;
    transform: translate(0px, -20px);
  }
  100% {
    opacity: 0.5;
    transform: translate(0px, 40px);
  }
}
